gradio==5.20.0
pypdf==5.3.1
langchain==0.3.20
langchain-community==0.3.19
langchain-pinecone==0.2.3
langchain-huggingface==0.1.2
pinecone[grpc]==5.4.2
accelerate==1.4.0
torch==2.6.0
flask==3.1.0
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
